@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0d1117; /* Couleur de fond sombre */
  color: #e6edf3; /* Couleur de texte clair */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Vous pouvez ajouter des styles personnalisés ici */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}